<html>

<head>

</head>

<body>
    <a href="homepaje.html">Əsas səhifə</a> 
    <a href="about.html">Haqqımızda</a>
    <a href="contact.html">Əlaqə</a>
    <a href="projects.html">Lahiyələr</a>
    <h1>Haqqımızda</h1>
     <img src="../assets/images/21104.png" width="200" height="auto"> 
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         Accusantium, cumque aperiam, voluptatibus sit hic deserunt 
         necessitatibus vero velit molestias sunt at dolore ut 
         molestiae, laborum perspiciatis omnis magni. Facilis, enim!</p>
    
</body>
</html>